<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <p>
            院级经费管理系统
        </p>

        <h3>&nbsp;&nbsp使用技术</h3>
        <ul>
            <li>核心框架：Spring Boot + Spring MVC</li>
            <li>安全框架：Shiro</li>
            <li>数据库：MySQL +MyBatis+Druid</li>
            <li>日志管理：SLLF4J、Log4j</li>
            <li>页面交互:Vue+Ajax</li>
        </ul>


    </div>
</div>
</body>
</html>